.Home-img {
  width: 70%;
  border-radius: 1.3rem;
}

.Home-links {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.Home-button {
  color: rgb(185, 74, 74);
  background: #121212;
  border: none;
  font-size: 2.2rem;
  border-radius: 0.4rem;
  text-align: center;
  display: block;
  width: 300px;
  margin: 2rem 0.3rem;
}

.Home-button:hover:enabled {
  color: black;
  background: #5c5c5c;
  text-decoration: none;
  cursor: pointer;
}

.Home-button:active {
  transform: translateY(2px);
}
