.Repos-popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Repos-popular-item {
  margin: 20px;
  text-align: center;
  background-color: rgba(52, 131, 195, 0.527);
  padding: 1rem 0;
  width: 340px;
  border-radius: 2rem;
}

.Repos-popular-pos {
  margin: 1rem;
  font-size: 2rem;
  color: darkred;
}

.Repos-avatar img {
  width: 150px;
  border-radius: 50%;
}
